services:
  db:
    image: mysql:latest
    container_name: mysql-db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: morph-digital
      MYSQL_USER: user
      MYSQL_PASSWORD: example
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:
